.header{
width: 1440px;
height: 72px;
background: #FFFFFF;
}
.logo-web{
    width: 44px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5;
}
.logo-studio{
    width: 71px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
}
.nav-list{
    width: 67px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}
.adress-list{
    width: 153px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    
}
.section-one{
width: 1440px;
height: 600px;
background: #2E2F42;
}
.h-one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
}
.button-text{
width: 105px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
color: #FFFFFF;
}
.button{
width: 169px;
height: 56px;
background: #4D5AE5;
}
.button:hover,
.button:focus{
    background-color: #4D5AE5;
}
.body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer; 
}
.section-two{
width: 264px;
height: 72px;
font-family: 'Roboto';
font-style: normal;
color: #434455;
}
.title-three{
width: 264px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.section-three-title-two{
width: 323px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;
}
.section-four{
width: 1440px;
height: 732px;
background: #F4F4FD;
font-family: 'Roboto';
font-style: normal;
color: #434455;
}
.section-four-title-two{
width: 162px;
height: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;
}
.section-four-title-three{
width: 134px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.footer{
width: 1440px;
height: 310px;
background: #2E2F42;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E7E9FC;
}