        body{
            font-family: 'Roboto', sans-serif ;
            font-size: 16px;
            line-height: 1.5; 
            background-color: #FFFFFF;
            color: #434455;;
            text-decoration: none;
            letter-spacing: 0.02em;
        }
        ul{
            list-style: none;
        }
        :root{
            --brand-color: #434455;
            --background-brand: #FFFFFF; 
        }
        .header{

            background: #FFFFFF;
        }
        .logo{
            font-family: 'Raleway', sans-serif ;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            text-decoration: none;
        }
        .logo-web{
            color: #4D5AE5;
            }
        .logo-studio-two{
            color: #F4F4FD;
        }
        .logo-studio-one{
            color: #2E2F42;}
        .nav{
            font-weight: 500;
            font-size: 16px;
            color: #2E2F42;
            letter-spacing: 0.02em;
            line-height: 1.5;
            text-decoration: none;
            list-style: none;
        }
        .nav-list{
            font-weight: 500;
            font-size: 16px;
            color: #2E2F42;
            letter-spacing: 0.02em;
            line-height: 1.5;  
            text-decoration: none;
            list-style: none;
        }
        .nav-list:focus,
        .nav-list:hover{
            color: #404BBF;
        }
        .adress-list{
            font-size: 16px;
            color: #434455;
            letter-spacing: 0.02em;
            line-height: 1.5;
            text-decoration: none;
            list-style: none;
        }
        .contact-list{
            font-size: 16px;
            color: #434455;
            text-decoration: none;
            letter-spacing: 0.02em;
            line-height: 1.5;
            list-style: none;

        }
        .contact-list:focus,
        .contact-list:hover{
            color: #404BBF;
        }
        .button{
            background: #F4F4FD;
            font-family: 'Roboto', sans-serif ;
            font-weight: 500;
            color: #4D5AE5;
            letter-spacing: 0.04em;
            line-height: 1.5;
            font-size: 16px;
        }
        .button:hover,
        .button:focus{
            background: #404BBF;
            cursor: pointer;
            font-weight: 500;
            color: #FFFFFF;
        }
        .title-three{
            font-weight: 500;
            font-size: 20px;
            color: #2E2F42;
            letter-spacing: 0.02em;
            line-height: 1.2;
        }
        .example-text{
            color: #434455;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }    
        .footer{
            background: #2E2F42;
            color: #E7E9FC;
            letter-spacing: 0.02em;
            line-height: 1.5;
        }